__pycache__
*.py[co]
[.][v]env/
.DS_Store
.ruff_cache
.env
.coverage
*.orig
# .NET stuff
bin
obj
appsettings.*.json
*.csproj.user
.mono
*.user

# AZD
.azure/
.files/
azure_ai_projects-1.0.0b4-py3-none-any.whl
